.button {
  width: 100%;

  &_wrapper {
    padding: 16px;
    width: 100%;
  }
}

.pig {
  width: 128px;
  height: 128px;

  &_wrapper {
    padding: 120px 0;
  }
}

.menu_icon {
  width: 32px;
  height: 32px;
}
