.tabs {
  display: flex;
  flex-direction: column;

  &_nav {
    // flex-grow: 0;
    // flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--navbar-text);
    padding: 0;

    >li {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 12px 0;
      background: var(--navbar-bg-end);

      &.selected {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: var(--tabs-indicator-bg);
        }
      }
    }
  }

  .tab {
    // height: calc(100% - 48px);
    // flex-grow: 1;
    // flex-shrink: 1;
    overflow: auto;
  }
}